@font-face {
    font-family: quartzo;
    src: url(/fonts/QuartzoBold-W9lv.ttf);
}

html body {
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;;
}

.main {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.logo-side {
    position: relative;
    width: 60vw;
    min-width: 350px;
    height: 100vh;
    background: url(/assets/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: white;
}

h1 {
    font-family: quartzo;
}

.logo-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 2rem;
    padding: 0px 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.croissant-icon {
    width: 10vw;
    padding: 20px;
}

.img-credit {
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0px;
    left: 5px;
}

.img-credit p {
    margin: 1px;
}

.form-side {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    background-color: #EEEEEE;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.125);
}

.form-description {
    margin: 10vh 5vw;
}

input:invalid {
    border: red solid 2px;
}