* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

.container {
    width: 100vw;
    height: 100vh;
}

.container, 
.logo {
    display: flex;
    flex-flow: wrap;
}

.croissant-icon {
    height: 10vh;
}

.picture-credit {
    font-size: 12px;
}

.picture {
    background-image: url(./assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo {
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 25vh;
    gap: 1vw;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.right {
    width: 60vw;
}

button {
    background: #596D48;
    border: 2px solid #596D48;
    margin: 10px;
}